body {
  margin: 0;
  padding: 0;
  background: rgb(249 250 251);
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
